
button{
    border-style: groove;
    
    align-items: center;
    background-color: #c2acac; /* black */
    text-decoration-color: aqua;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
    display: flexbox;
    font-size: 15px;
    text-decoration-color: #f1f1f1;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none; 
color: black;
    font-weight: bold;
    
}
.navbar{
    text-align: center;
 display: flex;
   flex-direction: row;
   width: fit-content;
    justify-content: right;
text-decoration: none; 
color: black;
    gap: 10px;
    margin-top: 5px;
    font-size: 10px;
    font-weight: bold; 
    margin-left: 0px; 
    padding-left: 0%;}
        

.imagegallery{
 grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
 grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    object-fit: cover;
    row-gap: 15px;
    column-gap: 6px;
}


.projects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
    padding-left: 0%;
    gap: 10px;
    margin-bottom: 15px;
}

.footer{
    position: relative;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    left: 0;
    bottom: 0;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
}